@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 54px;
  --modal-side: 412px;
}

body {
  margin: 0;
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
